@use '../../styles/colors';

.Header {
	flex: 0 0 auto;
	width: 100%;
	display: flex;
	align-self: flex-start;
	align-items: center;
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
	justify-content: space-between;
}
.birthYear {
	color: colors.$primary-white;
	text-align: left;
}

.currentYear {
	color: colors.$primary-white;
	text-align: right;
}
