@use '../../styles/colors';

.container {
	width: 80%;
	margin: auto;
	font-weight: 400;
	h1 {
		font-family: EBGaramond;
		font-weight: 400;
		font-size: 90px;
		color: colors.$primary-white;
	}
}
.gradient {
	text-align: center;
	font-family: EBGaramond;
	font-size: 90px;
	font-weight: 800;
	background: -webkit-linear-gradient(#d5202c 25%, #9bc53d 75%);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.more {
	font-family: DEVIS;
	font-size: 35px;
	padding: 10px 15px;
	border-radius: 15px;
	border-style: none;
	text-align: center;
}
